/*Gold color: #EFC69B
Red color: #AF1B3F
Dark color: #473144
Body font: Helvetica, Arial, sans-serif
Headline font: Lora, Impact, serif (Lora can be found on Google Fonts.)*/

h1{
  color: #473144;
  text-align: center;
  margin: 50px;
}

p{
  color: #473144;
}

a{
  color: #AF1B3F;
  text-decoration: none;
  font-size: 20px;
}

h2{
  color: #AF1B3F;
}

ul{
list-style-type: none;
}


nav{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  border-top: 2px solid #EFC69B;
  border-bottom: 2px solid #EFC69B;
}

.bookInfo {
  text-align: right;
  border-right: 2px solid #EFC69B;
}


.filter {
  border: 2px solid #EFC69B;
  padding: 10px;
}

.image{
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.bookEntry{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.bookInfo{
  padding: 10px;
}

.bookCover{
  padding: 10px;
}